@font-face {
    font-family: "Anona-Semibold";
    src:
      local("AnonaNew"),
      url("/fonts/Fontspring-DEMO-anona-semibold.otf") , 
  }

  @font-face {
    font-family: "Anona-bold";
    src:
      local("AnonaNew"),
      url("/fonts/Fontspring-DEMO-anona-bold.otf") ,
  }

  @font-face {
    font-family: "Anona-medium";
    src:
      local("AnonaNew"),
      url("/fonts/Fontspring-DEMO-anona-medium.otf") ,
  }

  @font-face {
    font-family: "Anona-light";
    src:
      local("AnonaNew"),
      url("/fonts/Fontspring-DEMO-anona-light.otf") ,
  }



  /* mokoko fonts */

  @font-face {
    font-family: "MokokoBold";
    src:
      local("MokokoBold"),
      url("/fonts/moko/MokokoBd.otf") ,
  }
  

  @font-face {
    font-family: "MokokoMedium";
    src:
      local("MokokoMedium"),
      url("/fonts/moko/MokokoMd.otf") ,
  }

  @font-face {
    font-family: "MokokoRegular";
    src:
      local("MokokoMedium"),
      url("/fonts/moko/MokokoRg.otf") ,
  }





.main_div{
    /* display: flex; */
    position: relative;
    margin-top: -11rem;
}
.EyeLine_div{
    width: 100%;
    position: relative;
    z-index: 1; 
 
}
.EyeLine_div img{
    width: 60%;
    position: relative;
    left: 40%;
}
.flex_div{
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    justify-content: space-between;
    max-width: 1200px;
}
.content_div{
 
    width: 50%;
    /* border: 1px solid red; */

}
.Content{
    /* width: 70%;
    margin: auto; */
}
.Vifilcon_div{
    margin-bottom: 3rem;
}
.Vifilcon_div h3{
    font-size: 26px;
    color: #00758D;
    font-family: "Anona-bold";
}
.Vifilcon_div p{
    color: #353535;
    font-size: 20px;
    /* margin-bottom: 1rem; */
    line-height: 30px;
    font-family: "MokokoRegular";
    margin: 1rem 0 2rem;
}

.Fusion_div h3{
    font-size: 26px;
    color: #00758D;
    font-family: "Anona-bold";
}
.Fusion_div p{
    color: #353535;
    font-size: 20px;
    margin: 1rem 0 2rem;
    line-height: 30px;
    font-family: "MokokoRegular";
    
}

.Vifilcon_img{
    /* margin: auto;
    width: 70%; */
}
.Vifilcon_img img{
    width: 100%;
}
@media (max-width:1024px){
    .flex_div{
        max-width: 900px;
    }
    .main_div{
        margin-top: -5rem;
    }
}