
@font-face {
    font-family: "MokokoBold";
    src:
      local("MokokoBold"),
      url("/fonts/moko/MokokoBd.otf") ,
  }
  

  @font-face {
    font-family: "MokokoMedium";
    src:
      local("MokokoMedium"),
      url("/fonts/moko/MokokoMd.otf") ,
  }

  @font-face {
    font-family: "MokokoRegular";
    src:
      local("MokokoMedium"),
      url("/fonts/moko/MokokoRg.otf") ,
  }



.Footer_div{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #1596d1, #37D7F0,#1596d1, #37D7F0);
    height: 100px;
}
.Footer_div p{
    color: white;
    font-family: "MokokoRegular";

}