
@font-face {
    font-family: "Anona-Semibold";
    src:
      local("AnonaNew"),
      url("/fonts/Fontspring-DEMO-anona-semibold.otf") , 
  }

  @font-face {
    font-family: "Anona-bold";
    src:
      local("AnonaNew"),
      url("/fonts/Fontspring-DEMO-anona-bold.otf") ,
  }

  @font-face {
    font-family: "Anona-medium";
    src:
      local("AnonaNew"),
      url("/fonts/Fontspring-DEMO-anona-medium.otf") ,
  }

  @font-face {
    font-family: "Anona-light";
    src:
      local("AnonaNew"),
      url("/fonts/Fontspring-DEMO-anona-light.otf") ,
  }



  /* mokoko fonts */

  @font-face {
    font-family: "MokokoBold";
    src:
      local("MokokoBold"),
      url("/fonts/moko/MokokoBd.otf") ,
  }
  

  @font-face {
    font-family: "MokokoMedium";
    src:
      local("MokokoMedium"),
      url("/fonts/moko/MokokoMd.otf") ,
  }

  @font-face {
    font-family: "MokokoRegular";
    src:
      local("MokokoMedium"),
      url("/fonts/moko/MokokoRg.otf") ,
  }

  



/* @import url("/fonts/fonnts.com-Anona_Extrabold.otf"); */

.heroSection{
 display: flex;
    
}
.Slider_section{
    width: 40%;
}
.Img_div img{
    width: 100%;
}
.content_section{
    width: 60%;
    margin:auto;
}
.tittle {
    padding-right: 3rem;
}
.tittle h1{
    font-size: 120px;
    color: #00A7E1;
    letter-spacing: 5px;
    line-height: 120px;
    font-family: "Anona-Semibold";
    
}
.tittle .titpara{
    color: #00758D;
    font-size: 30px;
    font-family: "Anona-medium";
}
.description {
    margin-top: 2rem;
   
}
.description p{
    color: #353535;
    font-size: 28px;
    margin-bottom: 1rem;
    line-height: 48px;
    font-family: "MokokoRegular";
}

.description p .boldfontw{
    font-family: "MokokoMedium";
    color: #060606;
    font-size: 30px;
}

.innovation h3{
    font-size: 32px;
    color: #00758D;
    margin-bottom: 1rem;
    font-family: "Anona-bold";
    margin: 45px 0 20px 0;

}
.innovation p{
    font-size: 28px;
    color: #000000;
    font-family: "MokokoRegular";
}